<!DOCTYPE html>
<html lang="en">
<head>

     <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">


    <!--bootstrap-->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body style="background-color: #ffb6c157;">
    <!-- <div class="mt-5">
    <div class="container card" style="width: 18rem;">
        <div class="card-body">
            <h1>Register</h1>
            <form action="">
                <label for="fname">Enter your First name:</label><br>
                <input type="text" id="fname" name="fname" placeholder="ABC" class="rounded-1"><br><br>
                <label for="lname">Enter your Last name:</label><br>
                <input type="text" id="lname" name="lname" placeholder="DEF"><br><br>
                <label for="email">Enter your email:</label><br>
                <input type="email" id="email" name="email" placeholder="ADG@gmail.com"><br><br>
                <input type="submit" value="Submit">
              </form>
        </div>
    </div>
      </div> -->

      <div class="container" style="width: 18rem;">
      <div class="mt-5" style="width:max-content">
        <h4>You have been loged in</h4> <br>
        <form action="/services_parameters" method="post">
        <label class="container">Profile
          <input type="radio" checked="checked" name="radio" value="Profile" style="width: 15rem;">
        </label>
        <br>
        <br>
        <label class="container">Deposit
          <input type="radio" checked="checked" name="radio" value="Deposit" style="width: 14rem;">
        </label>
        <br>
        <br>
        <label class="container">Withdraw
          <input type="radio" name="radio" value="Withdraw" style="width: 196px;">
        </label>
        <br>
        <br>
        <label class="container">Balance
          <input type="radio" name="radio" value="Balance" style="width: 225px;">
        </label>
        <br>
        <br>
        <label class="container">Exit
          <input type="radio" name="radio" value="Exit" style="width: 284px;">
        </label>
        <br>
        <br>
      
        <button type="submit" class="btn btn bg-primary">Submit</button>
      </form>  

</div>
</div>

</body>
</html>